$red: rgba(220, 70, 50, 0.5)
$blue: rgba(70, 90, 220, 0.5)
$gray: rgba(180, 180, 180, 0.5)

li
    list-style: none

.board
    .nation-map
        position: relative
        .state-map
            background-color: $gray
            border-radius: 50%
            color: white
            cursor: pointer
            height: 2em
            line-height: 2em
            list-style: none
            padding: 1.5%
            position: absolute
            text-align: center
            width: 2em
            &:nth-of-type(3n + 1)
                background-color: $red
            &:nth-of-type(3n + 2)
                background-color: $blue
                
.hand
    display: inline-block
    margin: 0
    padding: 0
    .card
        background: whitesmoke
        border: 1px solid rgb(180, 180, 180)
        border-radius: 0.5em
        box-shadow: -0.05em 0.1em 0.1em gray
        color: darkgray
        cursor: pointer
        display: inline-block
        font-size: 1.5em
        height: 4em
        line-height: 4em
        margin: 0.25em 0.5em 0 0
        padding: 0
        position: relative
        text-align: center
        width: 3em
        &:nth-of-type(2n)
            top: 0.1em
        &:nth-of-type(3n + 2)
            top: -0.05em
        &:nth-of-type(7n + 1)
            top: 0.05em
        &:hover
            background: white
            box-shadow: -0.1em 0.2em 0.2em gray
            color: $red

    &.is-collapsed
        border: 1px solid rgb(180, 180, 180)
        border-radius: 0.5em
        height: 1em
        width: 1.5em
        padding: 0.5em 0.25em
        .card
            display: none
            margin: 0.5em -2.75em 0 0
            &:hover
                margin-right: -0.5em
            &.top
                display: inline-block
    &.is-face-up
        .card
            background: $red
            abbr
                visibility: hidden

.players
    margin: 1em 0
    .player
        border: 1px solid lightgray
        border-radius: 1em 1em 0 0
        list-style: none
        padding: 1em
        @media (max-width: 767px)
            border-left: none
            border-right: none
            border-top: none
            border-radius: 0
            &:last-of-type
                border-bottom: none
        .action-draw
            display: block

    @media (max-width: 767px)
        border: 1px solid lightgray
        border-radius: 1em
