h1 { background: #88a; color: #fff; margin: 0; padding: 10px; }
p { font-family: helvetica, sans }
.newsection { clear: both }
#status { font-size: 80%; }
#status p { display: inline; padding: 20px; }
.location { background: #def; border: 1px solid #99b; padding: 0 0.3em }
.cards { height: 2em; }
.cardbtn { color: #730; margin:.25em; font: 1em sans-serif }
.human .cardbtn { cursor: pointer; }
.human div.cardsinhand {
	border: 1px dashed #ccc;
}
.destination { visibility: hidden; }
.destination-drop {
	visibility: visible;
	background: #ccc;
	padding: 2px;
	border: 1px double #fff;
}
div.discards {
	background: #fdd;
	border: 1px solid #caa;
	color: #744;
	margin: auto;
	padding: 10px;
	font: 0.8em Arial, sans-serif;
}

.allcardsbtn { background: #af9; border: solid 1px #7a7; cursor: pointer; 
	color: #442; font-size: 80%; margin: 5px; padding: 3px;}

.player-info { width: 250px; float: left; margin: 20px; padding: 5px; border: solid 1px #888;}
.player-info p { margin: 0; }
.name { font-weight: bold; color: #555; border-bottom: 1px solid #ddd }
#gameboard { position: relative; top:0 width:900px; height:612px;
	overflow:hidden; border: 2px solid #aaaaaa }
.pawn { width:10px; height:10px; border: 1px solid #fff; overflow:hidden: position:absolute }
#token1 { background-color:#a82 }
#token2 { background-color:#28a }
#token3 { background-color:#8a2 }
