h1 {
	background: #8888aa;
	color: #ffffff;
	margin: 0;
	padding: 10px;
}
p {
	font-family: 'Helvetica', sans-serif;
}
.newsection {
	clear: both;
}
#status {
	font-size: 80%;
}
#status p {
	display: inline;
	padding: 20px;
}
.location {
	background: #ddeeff;
	border: 1px solid #9999bb;
	padding: 0 0.3em;
}
.cards {
	height: 2em;
}

#instructions { 
	border: 2px solid #F6B;
	background: #BCD;
	position: absolute;
	top: 200px;
	left: 200px;
	height: 150px;
	width: 300px;
}

#help {
	height:4em;
	width: 12em;
	position: absolute;
	right: 20px;
	top: 10px;
}

.cardbtn { 
	background: #efeff8;
	color: #773300; 
	cursor: pointer;
	margin:3px;
	padding:3px; 
	font: 1em sans-serif; 
	z-index: 300; 
}
.adjacent {
	border-bottom: 3px solid #eebb66;
}
.human .cardbtn {
	cursor: pointer;
}
.human div.cardsinhand {
	border: 1px dashed #cccccc;
}
.destination { 
	color: #888888;
	font-size: 75%;
	overflow: hidden;
	visibility: hidden;
}
.destination-drop {
	background: #e0e0e0;
	border: 1px solid #aaa;
	padding: 2px;
	visibility: visible;
}
.destination-over {
	background: #d0dfd0;
	border: 2px solid #8d5;
}
div.discards {
	background: #ffdddd;
	border: 1px solid #ccaaaa;
	margin: auto;
	padding: 10px;
	text-align: center;
}
div.discards p {
	color: #ddaaaa;
	font: 0.8em 'Arial', sans-serif;
}
.discards .control {
	border-top: 1px solid #ffaa66;
	font-size: 80%;
	margin: 5px;
	padding: 3px;
	text-align: right;
}
.discards .allcardsbtn { 
	background: #ffaa99;
	border: solid 1px #77aa77;
	color: #444422;
	cursor: pointer; 
	padding: 3px;
	text-align: center;
}

.player-info {
	border: solid 1px #888888;
	float: left;
	margin: 20px;
	padding: 5px;
	width: 250px;
}
.active {  /*used with .player-info and .pawn*/
	animation: pulse 1.2s linear infinite alternate;
}
@keyframes pulse {
	from { box-shadow: 0 0 12px rgb(255, 127, 20); }
	to { box-shadow: 0 0 2px rgb(255, 127, 20); }
}
.player-info.current.start {
	box-shadow: 0 0 12px rgb(255, 127, 20);
	-khtml-transition: box-shadow 0.75s ease-in-out 0;
	-moz-transition: box-shadow 0.75s ease-in-out 0;
	-o-transition: box-shadow 0.75s ease-in-out 0;
	-webkit-transition: box-shadow 0.75s ease-in-out 0;
	transition: box-shadow 0.75s ease-in-out 0;
}

.player-info.current.end {
	box-shadow: 0 0 6px rgb(255, 220, 20);
	-khtml-transition: box-shadow 0.75s ease-in-out 0;
	-moz-transition: box-shadow 0.75s ease-in-out 0;
	-o-transition: box-shadow 0.75s ease-in-out 0;
	-webkit-transition: box-shadow 0.75s ease-in-out 0;
	transition: box-shadow 0.75s ease-in-out 0;
}
.player-info p {
	color: #777777;
	font-size: 14px;
	margin: 0;
}
span.objective, 
span.location {
	color: #000000;
}
.name {
	border-bottom: 1px solid #dddddd;
	color: #555555;
	font-weight: bold;
}
#gameboard {
	border: 2px solid #aaaaaa;
	height: 612px;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 900px;
}
.pawn {
	/*background-color: #ff9000;*/
	border: 1px solid #888;
	height: 10px;
	overflow: hidden;
	position: absolute;
	width: 10px;
	z-index: 10;
}
#token1 {
	background-color: #aa8822;
}
#token2 {
	background-color: #2288aa;
}
#token3 {
	background-color: #88aa22;
}
